<div class="et-cell-container" {{bind-attr style="view.paddingStyle"}}>
	<span class="et-toggle {{if view.row.isCollapsed 'et-toggle--expand' 'et-toggle--collapse'}}"
		{{action "toggleCollapse" view.row}}>
		<i class="zmdi zmdi-chevron-down et-toggle-icon
			{{if view.row.isLeaf 'is-hidden' 'is-visible'}}"></i>
	</span>

	<span class="et-content">
		{{view.cellContent}}
	</span>
</div>
